html,
body {
    height: 1300px;
}

body {
    background-color: whitesmoke;
}

.App {
    height: 1100px;
}
#root {
    height: 100% !important;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image {
    width: 370px;
    margin-top: 50px;
}
@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }
    .image {
        width: 100%;
    }
}